In [20]:
import re
from operator import itemgetter
import nltk
import pandas as pd
from nltk.corpus import stopwords
stop_word=stopwords.words('english')

In [10]:
frecuncy={}
words_austen=nltk.Text(nltk.corpus.gutenberg.words('austen-emma.txt'))
words_austen=[word.lower() for word in words_austen if word not in stop_word]

In [11]:
for word in words_austen:
    count=frecuncy.get(word, 0)
    frecuncy[word]=count+1

In [14]:
rank = 1
column_hedder={'rank','frecuncy','frecuncy*rank'}
df=pd.DataFrame(columns=column_hedder)

In [15]:
df

Empty DataFrame
Columns: [frecuncy*rank, rank, frecuncy]
Index: []

In [16]:
for word, freq in reversed(sorted(frecuncy.items(), key=itemgetter(1))):
    df.loc[word]=[rank,freq,rank*freq]
    rank=rank+1

In [19]:
df.head(50)

          frecuncy*rank   rank frecuncy
,                     1  11454    11454
.                     2   6928    13856
i                     3   3178     9534
;                     4   2199     8796
"                     5   2004    10020
--                    6   1382     8292
mr                    7   1153     8071
."                    8   1138     9104
'                     9   1007     9063
emma                 10    865     8650
could                11    837     9207
would                12    820     9840
mrs                  13    699     9087
.--                  14    685     9590
miss                 15    599     8985
-                    16    574     9184
must                 17    567     9639
she                  18    562    10116
!                    19    549    10431
harriet              20    506    10120
much                 21    486    10206
said                 22    484    10648
one                  23    452    10396
he                   24    441    10584
weston               25    440    11000
every                26    435    11310
,"                   27    421    11367
well                 28    401    11228
it                   29    400    11600
thing                30    398    11940
knightley            31    389    12059
elton                32    385    12320
think                33    383    12639
little               34    359    12206
good                 35    358    12530
never                36    358    12888
the                  37    357    13209
!--                  38    338    12844
know                 39    337    13143
might                40    326    13040
woodhouse            41    313    12833
say                  42    310    13020
you                  43    303    13029
jane                 44    301    13244
but                  45    293    13185
quite                46    282    12972
time                 47    279    13113
great                48    264    12672
nothing              49    256    12544
fairfax              50    241    12050